<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-screenshot-to-text-workflow</string>
	<key>connections</key>
	<dict>
		<key>68366A40-701F-4A57-B2BA-E79841302CD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8736516-E395-4B3D-8055-97F243B414CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E890B181-F9D9-48AB-A673-46FE13BEC01E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68366A40-701F-4A57-B2BA-E79841302CD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>A Screenshot OCR reader to rapidly scan parts of the screen and capture the content to the clipboard.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screenshot to Text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E890B181-F9D9-48AB-A673-46FE13BEC01E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B8736516-E395-4B3D-8055-97F243B414CB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/ruby capture.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68366A40-701F-4A57-B2BA-E79841302CD5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>68366A40-701F-4A57-B2BA-E79841302CD5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B8736516-E395-4B3D-8055-97F243B414CB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E890B181-F9D9-48AB-A673-46FE13BEC01E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-screenshot-to-text-workflow</string>
</dict>
</plist>
