<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-screenshot-to-text-workflow</string>
	<key>connections</key>
	<dict>
		<key>34D08079-18E8-49F1-A208-6B0D79382916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F3C737E-BC9B-4FAC-9BB3-982FFCDDCE1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68366A40-701F-4A57-B2BA-E79841302CD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8736516-E395-4B3D-8055-97F243B414CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6F3C737E-BC9B-4FAC-9BB3-982FFCDDCE1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>899FA592-C7E2-48FF-AC7B-28A555593643</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A15542FA-D7E6-43B6-99C6-671010657B6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68366A40-701F-4A57-B2BA-E79841302CD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E890B181-F9D9-48AB-A673-46FE13BEC01E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68366A40-701F-4A57-B2BA-E79841302CD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>A Screenshot OCR reader to rapidly scan parts of the screen and capture the content to the clipboard.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screenshot to Text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E890B181-F9D9-48AB-A673-46FE13BEC01E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B8736516-E395-4B3D-8055-97F243B414CB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/ruby capture.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68366A40-701F-4A57-B2BA-E79841302CD5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>screentotext</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby feedback.rb "{query}"</string>
				<key>subtext</key>
				<string>select an area of the screen to convert to text</string>
				<key>title</key>
				<string>Convert Screen to Text</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A15542FA-D7E6-43B6-99C6-671010657B6E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby config.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F3C737E-BC9B-4FAC-9BB3-982FFCDDCE1D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>899FA592-C7E2-48FF-AC7B-28A555593643</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>configscreentotext</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby config_feedback.rb "{query}"</string>
				<key>subtext</key>
				<string>Check current languages and add or remove them</string>
				<key>title</key>
				<string>Screen to Text Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>34D08079-18E8-49F1-A208-6B0D79382916</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>34D08079-18E8-49F1-A208-6B0D79382916</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>68366A40-701F-4A57-B2BA-E79841302CD5</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>6F3C737E-BC9B-4FAC-9BB3-982FFCDDCE1D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>899FA592-C7E2-48FF-AC7B-28A555593643</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A15542FA-D7E6-43B6-99C6-671010657B6E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B8736516-E395-4B3D-8055-97F243B414CB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E890B181-F9D9-48AB-A673-46FE13BEC01E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-screenshot-to-text-workflow</string>
</dict>
</plist>
